[2022-01-19 04:45] baseplate-admin opened #1 "Should i use a SPA ?"
The soundcore module will be a Single Page Application.
Now my question is should I use SPA for AnimeCore, MangaCore?

But it will be a lot of work and pointless refractoring. Not to mention the countless [warnings](https://github.com/facebook/create-react-app/issues/11174) that i have to face

[2022-01-26 03:30] baseplate-admin opened #5 "Should i move to blitz.js"
Extends #1

I personally like django, But the site looks old and clunky. So for this reason i am beginning to think its best to use Node.JS for this project. But then again i am more comfortable with python. Any thoughts?

# Edit :

Moving to Svelte for frontend and Django for REST API.

[2022-02-03 21:17] Avasam commented on #1
You don't have to use Create-React-App to begin with for a React application. There's other alternatives (including just setting it up yourself).
If you still want to go that route, there's a workaround: https://github.com/facebook/create-react-app/issues/11174#issuecomment-979449264

[2022-02-04 01:31] baseplate-admin commented on #1
Hi there,

Thanks for responding. But in that sense, Isn't it better to Just use blitz.js( full stack react framework ). Cause in current setup django will Just serve json.

[2022-02-04 03:47] baseplate-admin commented on #1
But I still am rethinking the approach. In my opinion this software can be the next Kissanime. Only if i had some funds ( i am kinda against advertising ).

[2022-02-07 18:00] #5 closed

[2022-02-07 18:00] #1 closed

[2022-02-10 07:16] baseplate-admin opened #13 "Add JWT"
Currently we are using Django Rest Framework Token auth. Which does stuff okay? But i don't think its enough. ( Feel free to correct me ).

Eventually we will have an android app (maybe IOS too?). For which the current implementation wont work (since we are setting the cookie from backend). So for this reason its better to start working on the JWT part right now. (or token auth?)

Things to do :
-

[2022-02-10 07:17] baseplate-admin commented on #13
Since i am the sole contributor . Adding me to assignees. Yayyy!!

[2022-02-10 07:19] baseplate-admin opened #14 "Map this to Svelte."

[2022-02-10 07:59] baseplate-admin opened #15 "Add `djangorestframework-simplejwt` and add Django endpoints. ( Easiest part NGL )"
Gonna leave it as is till i finish other stuff

[2022-02-10 08:00] baseplate-admin opened #16 "Map this to Svelte. (Easier Part)"
As the title goes

[2022-02-10 08:00] baseplate-admin opened #17 "Add Handle Logic in svelte store. ( God I Hate this part )"

[2022-02-10 09:24] #16 closed

[2022-02-10 12:00] #15 closed

[2022-02-10 13:51] #17 closed

[2022-02-10 13:51] baseplate-admin commented on #13
Done !!!

[2022-02-10 13:51] #13 closed

[2022-02-10 17:12] baseplate-admin opened #20 "Fix is user authenticated"
Title

Check [here](https://github.com/baseplate-admin/CoreProject/blob/9e343f30ebb091cdfca79e3303a92ff8606bbc6d/frontend/src/lib/store/users.ts#L15)

[2022-02-11 04:23] #20 closed

[2022-02-11 05:09] baseplate-admin opened #22 "map user_edit page to svelte"
Extending #13

The user edit page needs to be mapped to svelte to work properly.

[2022-02-11 05:29] baseplate-admin commented on #22
But should i do it ?

I mean the endpoint is technically there, but i think Django can handle this much. Thoughts?

[2022-02-11 06:07] baseplate-admin opened #23 "Reduce Repo size ?"
Check [this page](https://github.com/baseplate-admin/CoreProject/blob/main/backend/templates/base.html)

Should I use JSDelivr/ Unpkg for serving static contents?

For now django serves content using [Whitenoise](https://github.com/evansd/whitenoise) but that makes the size of this repo huge.

So my question is should i use a cdn like JSdelivr/Unpkg to serve those static contents?

Also another qu

[2022-02-12 12:35] baseplate-admin opened #24 "Write Tests"
Write tests for Backend ?

[2022-02-14 09:53] baseplate-admin opened #28 "Replace Tippy.js with Bulma Tooltip"
Svelte has no native support for tippy, and as the days go by, its getting harder to maintain this project. So i am adding Bulma-Tooltip to make life a bit easy.

- [ ] Svelte Transitions.
- [ ] #29

[2022-02-14 09:59] baseplate-admin opened #29 "Install bulma-tooltip"

[2022-02-15 03:58] baseplate-admin commented on #23
This will require me to also patch Django and Django rest framework

[2022-02-15 15:50] baseplate-admin opened #31 "Switch Backend?"
As the title suggests.

I am willing to learn a new language / framework for this project.

So suggest a framework.

[2022-02-16 03:08] baseplate-admin commented on #31
My eye in on RoR

[2022-02-18 05:29] baseplate-admin commented on #31
The format should be like this :

### Django :

* Pros :

 1. Built in admin panel. ( The single biggest reason to use it over something like Flask. I know flask has flask-admin. but its not official. )
 2. Strong ORM support.
 3. Migrations.
 4. Fast development time
 5. Django's Template Language.
 6. Python ( My preferred programming language )
 7. Opinionated. ( This way when I pass this proje

[2022-02-22 06:12] baseplate-admin opened #33 "Work that needs to be done."
❌ Add Task queue ( huey or celery ? )
- [x] #42

[2022-02-23 07:11] TanimSk commented on #31
Ruby on Rails is a good choice, but I would also suggest you to play around with *Express*

[2022-02-23 09:17] baseplate-admin commented on #31
Hi there, Thanks for commenting.

But Express JS = Flask. Not battery included

. I was looking for a more full stack software.

[2022-02-24 06:50] baseplate-admin commented on #22
I am gonna work on this :)

[2022-02-24 17:27] baseplate-admin commented on #22
I finally removed Libravatar.

[2022-02-24 17:46] baseplate-admin opened #42 "Allow user to remove images ( avatar ) map user_edit page to svelte&nbsp;#22"

[2022-02-24 17:47] #42 closed

[2022-02-25 00:02] baseplate-admin commented on #28
I fixed this

[2022-02-25 00:02] #28 closed

[2022-02-25 00:02] #29 closed

[2022-02-28 19:40] baseplate-admin commented on #31
IMHO [`nestjs`](https://nestjs.com/) and [`Blitzjs`](https://blitzjs.com/) are the most full stack  software. But neither catches my eye

[2022-03-01 22:08] baseplate-admin opened #60 "Fix Vimejs volume"
Its borked

[2022-03-02 00:55] #60 closed

[2022-03-09 06:02] baseplate-admin commented on #22
I added the necessary store. Its now a breeze. Working on this ASAP

[2022-03-09 17:57] #22 closed

[2022-03-10 20:16] baseplate-admin commented on #22
Done

[2022-03-11 04:50] baseplate-admin commented on #31
Hey @TanimSk

 You have a pick? I did most of the work in `[django-rest-framework](https://www.django-rest-framework.org/)` now i think it will be a waste to let it all go to waste

[2022-03-12 06:24] baseplate-admin commented on #33
We dont need task queue. Closing

[2022-03-12 06:24] #33 closed

[2022-03-14 16:17] baseplate-admin commented on #23
I dont use django for html now. So this is off topic

[2022-03-14 16:17] #23 closed

[2022-03-20 10:54] alaniskhan opened #93 "The Site is not working"
How can i connect the backend with the frontend

[2022-03-20 10:55] alaniskhan commented on #31
How to connect the backend with the frontend

[2022-03-20 11:09] baseplate-admin commented on #93
Hi there,

This is a decoupled Frontend + Backend.  Meaning the Frontend and Backend lives on 2 server.

So the answer is

# For Backend :
[code]
[code]
[code]

 # For Frontend :
[code]
[code]

[2022-03-20 11:10] baseplate-admin commented on #93
If you still can't understand how to do it. Would you like a video explaining on how i do it?

[2022-03-20 11:11] alaniskhan commented on #93
yeah pls do it

[2022-03-20 11:11] baseplate-admin commented on #93
Sure. Wait a bit

[2022-03-20 11:11] alaniskhan commented on #93
yeah pls

[2022-03-20 11:12] baseplate-admin commented on #93
Please do note the API is not stable :) . As i am still making the site. I am not responsible for api changes

[2022-03-20 11:12] alaniskhan commented on #93
i have already runned the backend and frontend . but the anime i upload is not showing

[2022-03-20 11:12] alaniskhan commented on #93
ok

[2022-03-20 11:15] alaniskhan commented on #93
ok i will wait

[2022-03-20 11:21] baseplate-admin commented on #93
Actually that part is meant to be handled by django's admin panel

[2022-03-20 11:23] baseplate-admin commented on #93
In case you cant run the `Server`

Heres a video showing how i run it :
https://send.vis.ee/download/cc3c666c9e626a4b/#FM6YhKMDynnigaU3S5SHlA

[2022-03-20 11:33] baseplate-admin commented on #93
If you cant figure it out,

Here's the way how i plan on uploading animes:
https://send.vis.ee/download/68e75f6d095509aa/#wEdToBYcth-qjD2TqQCc8w ( will expire in 7 days || 20 downloads )

You should have them over at `http://127.0.0.1:8000/api/v1/upload/anime/` after successful upload

[2022-03-20 11:34] baseplate-admin commented on #93
Do note that the frontend doesn't pick up these uploaded files for now :(

I am working on this after i finish the capture endpoint to record timestamps :)

[2022-03-20 11:35] baseplate-admin commented on #93
Anything more you want to ask?

[2022-03-20 11:55] baseplate-admin commented on #31
@TanimSk Do you think `Laravel` is a good pick?

[2022-03-20 11:59] alaniskhan commented on #31
i have a

ofcourse

[2022-03-20 12:01] baseplate-admin commented on #31
Umm what do you mean >__<

Is laravel a good pick?

[2022-03-20 12:05] alaniskhan commented on #31
yes it is a good pick

[2022-03-20 12:05] alaniskhan commented on #31
hey can you give me you whatsapp number

[2022-03-20 12:06] baseplate-admin commented on #31
Umm sadly i dont use any `Facebook` technologies.

But i can give you my telegram.

[2022-03-20 12:07] baseplate-admin commented on #31
Umm how so? I think its lacking the most admin panel

[2022-03-20 12:11] alaniskhan commented on #93
give me you WhatsApp number

[2022-03-20 12:22] baseplate-admin commented on #93
Umm sadly i dont use any [`Facebook`](https://facebook.com) technologies.

But i can give you my telegram.

https://t.me/baseplate_admin

[2022-03-20 16:26] baseplate-admin commented on #93
Do you have discord?

I can also contact you over there :)

[2022-03-20 18:43] alaniskhan commented on #93
yeah I have discord id Alanis Gaming#4973

[2022-03-21 01:49] baseplate-admin commented on #93
Great. Msg me over there then

[2022-03-21 01:49] #93 closed

[2022-03-23 05:35] baseplate-admin opened #101 "Project needs a logo."
As the title goes. Currently we are using bulma placeholder. But as the time progresses, i think it would be better to have our own logo

[2022-03-24 06:36] AKindWorld commented on #101
Hi hi!

Having a logo is an extremely good idea; however, there are several factors that to decide on before finalizing on one:

1. The entire project's color/design schemes (all the way from the main UI to the icon choices) is very much dependent on the logo, or vice-versa. Example: rounded icons vs sharp icons, neutral colors vs vivid, based off an existing design system or one created from scra

[2022-03-24 11:17] baseplate-admin commented on #101
Hi there,

Thanks for taking an interest in this project.

1. The project's icon scheme is fully based on [ionicons](https://ionic.io/ionicons). I am using black and white icons but i plan on making color adjustments to the icons. For me i think the best choice would be a vivid logo. But if i find a good logo i am in for doing a full color change.

2. I think text based logo is better for this pro

[2022-03-24 13:19] AKindWorld commented on #101
I see, I see.

1. IonIcons is an amazing icons source; although, the choice still depends on which icons you're using - rounded or sharp. From the Readme preview, I think it's the former? or maybe... I can just clone the repo and see it myself.

2. aha, yup! I understand the type of logo you're talking about (fellow Genshin enjoyer!). Text based logos are much easier to make, and if done right, lo

[2022-03-25 02:44] baseplate-admin commented on #101
1, Why don't you take a look at some screenshots ? The UI is very round-ish. But ionicons doesn't offer many round icons. ( _do you know about an icon pack that offers rounded icons ?_ )

<details>
<summary>
Login Page
</summary>

![login](https://user-images.githubusercontent.com/61817579/160042995-28d41c99-ed3a-4486-9870-7620f2d38cd2.jpg)

</details>

<details>
<summary>
Register page
</summary>

[2022-03-25 16:41] baseplate-admin opened #107 "[ `Backend` ] : Add Tracker syncing capability"
So MAL has an exposed api that we can hook to :)

 But this comes at a steep cost. As we need a task queue for this to work properly

[2022-03-25 16:42] baseplate-admin commented on #107
REF : #33

we need to work on a form of task queue to update the mal database.

[2022-03-26 07:47] AKindWorld commented on #101
Hi there! sorry for the late response ><

Firstly, I made a quick small mockup to be able to better explain what I meant regarding the link between UI & logo. I made this one just to show the very-round UI, but I can make modifications to this to showcase a 0 roundness version too. Also this is just for the Anime Info page, and once again, this is just a mockup, so the real version might not be cl

[2022-03-26 11:23] baseplate-admin commented on #101
I am worked on the anime info page. So now it looks like this 📦

<details>
<summary>
With Episodes :
</summary>

![1](https://user-images.githubusercontent.com/61817579/160236925-e8c49602-a506-4de7-ad2a-5e09b82e3ae0.PNG)

</details>
<details>
<summary>
Without Episodes :
</summary>

![2](https://user-images.githubusercontent.com/61817579/160236936-4b82884d-847d-412c-bae7-b0349ed747b4.PNG)

</detai

[2022-03-26 16:17] baseplate-admin opened #110 "Redesign the UI"
As the title goes.

Currently The site looks like this

<details>
<summary>
Login Page
</summary>

![login](https://user-images.githubusercontent.com/61817579/160045016-bfff39e6-8532-447e-8932-25cadc5fe535.jpg)

</details>

<details>
<summary>
Register page
</summary>

![register](https://user-images.githubusercontent.com/61817579/160045022-bebe8dc7-8aa1-4553-982a-2957e8298686.jpg)

</details>

<d

[2022-03-26 16:21] baseplate-admin commented on #110
Pinging [@AKindWorld](https://github.com/AKindWorld),

Please send some of your  mockups here :) ( do note that we need a mobile mockup too  )

[2022-03-26 16:23] baseplate-admin commented on #110
If we go this route I will use React this time. Next.JS seems a good pick for this kind of UI library and we have Tailwind to power it all up.

[2022-03-26 16:26] baseplate-admin commented on #110
Or should i go with just django?

I donno Django's asset building pipeline is finicky.

[2022-03-26 17:40] AKindWorld commented on #110
Hi there!

I was just working on this, however I'll need a bit more time to brainstorm a responsive UI. So far, I've redesigned it based on the Anime Info page, but I'll still need to add lots of components. I've decided on some parts of the design system, but I'll need to think through the UX as well. I'll quickly make a list of all possible design screens needed.

1. Login/Register page [same de

[2022-03-26 17:51] baseplate-admin commented on #110
Lemme branch this off and start a V3 project 🤞.

The backend stays intact. Its the frontend that needs some work. 👀

[2022-03-26 17:53] baseplate-admin commented on #101
Closing this in favor of #110

[2022-03-26 18:11] baseplate-admin commented on #101
It seems i didnt read the last part

[2022-03-26 18:11] AKindWorld commented on #110
aha yup! I took a look at the docs, and it seems to be pretty good. Pre-styled components would save us a lot of time, and after that, we can just tweak the CSS as we need it to be.

Good find!

[2022-03-26 18:13] baseplate-admin commented on #110
🤞

[2022-03-26 18:40] baseplate-admin commented on #110
I have a small question. Is it possible to make this a shade of blue purple instead of white ?
![image](https://user-images.githubusercontent.com/61817579/160252846-cbe62ed3-60d4-4917-96a2-6b4c22f99abf.png)

[2022-03-27 00:20] Steven-Ha-88 commented on #110
Hi!

I have just come across this repo and as a anime lover, I would love to contribute to this project (if you plan on writing this in React and Next.js) :]

[2022-03-27 02:35] baseplate-admin commented on #110
I do am planning to use next.js :)

I have 2 questions
 * Can we write the project in typescript ?
 * Are you familiar with a UI library ?

[2022-03-27 03:00] baseplate-admin commented on #110
@AKindWorld would you take a look at [`tailwindcss`](https://tailwindcss.com/) ?  Tell me do you prefer [`MUI`](https://mui.com/) or [`tailwindcss`](https://tailwindcss.com/) components ?

[2022-03-27 05:17] AKindWorld commented on #110
Sure thing! Take your time. Above all else, we want a very strong backend, so that's the most important part, and you've got that covered.

Sounds great! VideoJS looks amazing, and I'm all in for customizability.

I think so. Mostly, for now, a FAQ, Contact Page, Terms/Policies, & Support page are the bare minimum pages needed. Other than that, let's see. ah- also a Request page maybe? I think you

[2022-03-27 18:40] baseplate-admin commented on #110
@AKindWorld I added you as a collaborator.

Now i have the anime genre part going on i still need to add more things to the API :) Since we are going to work on the frontend soon, its better to tidy up the backend a bit more :)

[2022-03-27 18:54] AKindWorld commented on #110
Thank you. I have accepted it as well. Also, I've finished the Base design system & todo list, and the Homepage UI is currently underway. You can take a look at the Figma file (same link). Feel free to let me know if there's anything I should change, or if the design looks okay. Also, should I start keeping track of stuff in the Projects board, or would you do that later on? (There's no hurry thou

[2022-03-27 19:12] baseplate-admin commented on #110
Add anything you like :) Treat this repo as part of our own. I think we should open a new github organization based on Coreproject https://github.com/CoreProject and move this repo there :) Thoughts ?

![image](https://user-images.githubusercontent.com/61817579/160296788-47ee3993-38bd-43c2-8b1e-d715c116b08d.png)
Lets take a look at what our api can return :
[code]

### Now we can make this part ba

[2022-03-27 20:17] baseplate-admin commented on #110
I have a question regarding the API design.
We have 2 options to get rating for animes

1. Make our own from scratch.
2. Use MAL api ( its a nightmare to do properly and @jikan-me will probably rate limit us. But its possible to do with async task queue )

[2022-03-28 04:26] AKindWorld commented on #110
Thank you, I'll do that soon then. Also, that's a great idea. Although since I don't know any of the downsides of that, it's okay even if we can't. If we can, then that's great!

About the [anime info page](https://user-images.githubusercontent.com/61817579/160296788-47ee3993-38bd-43c2-8b1e-d715c116b08d.png), currently it's unfinished, and I'm also planning an overhaul based off the new system. Ho

[2022-03-28 04:56] baseplate-admin commented on #110
So my plan is to update the anime entries from this project. Lets see an example :
1. Suppose you watch `One Piece : Episode 1` in this site.
2. You have authenticated your `MyAnimeList`  account with your account on this site.
3. Now the site will make a request on behalf of you to update the Anime entry in `MyAnimeList`.
4. `MyAnimeList` profile shows that you have watched Episode 1.

 So essent

[2022-03-28 06:10] baseplate-admin opened #113 "Enhance Filtering"
So we need a filter based search system :)

See [this](https://stackoverflow.com/questions/39368410/django-rest-framework-manytomany-filter-multiple-values) for more info

We need to add it [here](https://github.com/baseplate-admin/CoreProject/blob/6e44bdfa68cbe9d0cb30e6bac1bb2c34b115748a/AnimeCore/backend/apps/anime/views.py#L58)

[2022-03-28 06:11] baseplate-admin commented on #113
I will be working on this :)

[2022-03-28 06:27] baseplate-admin opened #114 "New Frontend"
Title.

It will take some time to get everything working properly.

Probably start after #110 is finished :)
We also need #113 and #101

Stacks we are considering :

* Backend : Django, Django Rest Framework
* Frontend : React, TailwindCss, Swiper

*The question mark ("?") mean that the decision is not final.*

[2022-03-28 06:41] AKindWorld commented on #110
Aha yeah, I understand. Basically a built-in episode tracker.

I see, I see. I don't understand much of the internal workings, but basically we're mapping the anime ids directly from MAL. Also, from what I know of, this will make integrating with MAL-sync much easier too, probably.

Oh sorry, seems I didn't read that part. Sure, I'll design it while keeping that in mind.

Sure thing! I'll do that

[2022-03-28 16:53] AKindWorld opened #115 "Home Page UI Redesign"
Current Progress - Completed, looking for feedback.

<details>
<summary>Full Vertical Mockup</summary>

![Link to Image](https://user-images.githubusercontent.com/41228366/160448618-4b9ce292-83a6-438a-bda0-6acf3d27bd76.png)
</details>

<details open>
<summary>Working Prototypes</summary><br>

1. [Homepage Top](https://www.figma.com/proto/knyOkHUChnJpsAsmuILhOk/Core-Project?page-id=0%3A1&node-id=80

[2022-03-29 01:08] baseplate-admin commented on #110
What i meant by hard fork is :
1. Create your own private repo. But dont name it CoreProject.
2. Download [this](https://github.com/baseplate-admin/CoreProject) repo.
3. Push codes from this repo to your own repo. ( this might feel like a chore. but hey at least it works )

The site is looking good. But do you know which javascript slider do they use? It seems like i can try to recreate it using [

[2022-03-29 01:12] baseplate-admin commented on #110
For now my main goal is to add Next.JS and do some bootstrapping. Expect it to arrive in 1-2 days :)

[2022-03-29 01:12] baseplate-admin commented on #115
Design looks good :)

[2022-03-29 01:12] baseplate-admin commented on #115
But do you know which sliders did they use ?

[2022-03-29 01:20] baseplate-admin commented on #115
Also do you know how to run a next.js server? To test some designs?

[2022-03-29 01:46] baseplate-admin commented on #115
Take a look at this [codesandbox](https://codesandbox.io/s/swiper-mousewheel-control-react-forked-pygq40?file=%2Fsrc%2FApp.jsx). Tell me will this work ?

[2022-03-29 05:29] baseplate-admin commented on #113
@AKindWorld  Hey listen,

I have added the search functionality. But this works like this.

When you query the search parameter, it will do a `anime_name` and `anime_name_japanese` lookup. So essentially if you search for `One Piece` it will look through the database and check if any anime name ( English / Japanese ) has `One Piece` in it and then returns the result.

So you think we need more fun

[2022-03-29 06:44] AKindWorld commented on #110
Yup alrighty! I've finished making a hard-fork of the repo. I actually chose sadasfas as the name cuz it was interestingly funny xD.

If you want to, I can add you a collaborator too.

Sure thing! Don't worry, I'll keep watch. Good luck for your exams; if it comforts you any bit, I hate exams and the traditional modes of education too. It's very much useless and exists only to weed out people rath

[2022-03-29 06:53] AKindWorld commented on #115
I think I should be able to. I'll take a look at the docs.

- **Homepage Top** - Yup, looks pretty good. Except that we possibly don't want it registering scroll-events, so it'll just be like a normal carousel/slideshow. Scroll can be implemented later on, but it's a huge UX flaw.

- **Homepage Discover** - Yup, this will absolutely work here. By making separate scrollers, we can also make a slick

[2022-03-29 07:01] baseplate-admin commented on #110
`Sapper` is deprecated.

The successor is [`svelte-kit`](https://kit.svelte.dev/) which is what [V2 is based on](https://github.com/baseplate-admin/CoreProject/blob/f759ce7486c376747a1a7526a2bcadf17108a4e2/AnimeCore/frontend/package.json#L19). This project served as a purpose to learn svelte. As someone who wants to learn something new i found svelte really easy.

I picked the name because DMCA bl

[2022-03-29 07:03] baseplate-admin commented on #115
Sure, but i dont have a figma account. I will make one tonight :) . But i want to ask you something. Do you have any kind of social media to talk to ? Cause there are private matters that shouldn't exist in a public issue tracker.

[2022-03-29 07:04] AKindWorld commented on #113
I think that's just about okay for now. As long as it works for middle values too (example: `per Second` for `5 Centimeters per Second`), or symbol ones too (`cm/s` for `5 Centimeters per second`), it should cover pretty much all of it. If it searches the database for alternate names, then this shouldn't be a problem (like `Silver Soul` for `Gintama`).

I'll design the search mockup soon too; it'l

[2022-03-29 07:08] baseplate-admin commented on #113
I actually some of the search functions available.

But its not as advanced as this. I will take a look into this

[2022-03-29 07:18] baseplate-admin commented on #113
For now if we do `http://127.0.0.1:8000/api/v1/anime/?anime=&genre=action%2Ccomedy%2Csci-fi&themes=&studios=&producer=Bandai+Visual` query. It will return
[code]

[2022-03-29 07:22] AKindWorld commented on #115
Sure thing! Also, I just found out that Figma does not allow normal link-share editors anymore so the alternative is to create a new team and add members. I've already done that, but it displays the email addresses to everyone in the team. So, just wanted to let you know that. If you want to, feel free to sign up with a non-personal email.

I'm not on most of the traditional social media (Facebook

[2022-03-29 07:26] baseplate-admin commented on #115
Haha another match. I dont like either of those platform. I am a pretty anti facebook type guy.

Though my mail is not allowed in public. It will be fine for that purpose. Gimme 5-6 hour to come home and tweak some stuff. But do check this project. https://relay.firefox.com It masks your email.

[2022-03-29 07:28] baseplate-admin commented on #113
I actually dont have a good idea on how to achieve this other than to map `cm/s` to `centimeter per second` which will get really tiresome as the number of mapping increases.

[2022-03-29 08:21] AKindWorld commented on #113
I think the only solution is to map alternate names to every entry as hidden parameters. Like how AniList has separate fields for Synonyms for every anime that has alternate names.

![image](https://user-images.githubusercontent.com/41228366/160565580-375dec87-a74b-43b6-9744-23e13e43785d.png)

I dunno if this is possible easily though. We can probably get this data from the API?

![image](https://

[2022-03-29 09:42] baseplate-admin commented on #113
[code]

With this finished the advanced search algorithm is finished. Thanks @AKindWorld

[2022-03-29 09:47] baseplate-admin commented on #113
Now with `http://127.0.0.1:8000/api/v1/anime/?anime=Shin+Shirayuki-hime+Densetsu+Pretear&genre=&themes=&studios=&producer=`

The return is :
[code]

[2022-03-29 09:48] baseplate-admin commented on #113
Have any more idea on improvement ? @AKindWorld ?

[2022-03-29 09:52] AKindWorld commented on #113
wow, am glad it worked!

Not an idea, but does our search give instant results? Or does it work after an `enter/press` field?
Instant results are better from a UX point of view techically, since it saves some clicks and load times.

[2022-03-29 09:54] baseplate-admin commented on #113
![image](https://user-images.githubusercontent.com/61817579/160585424-a58c48d4-7e46-4c9e-9dea-a399198172c3.png)
It takes about 3 sec to get a list of 10 animes based on relevant query.

[2022-03-29 14:33] baseplate-admin commented on #113
![image](https://user-images.githubusercontent.com/61817579/160635841-a280ff76-68d3-4afb-a45b-1d23e31ce9df.png)

Some minor improvements on the serializing part.

I think i found the problem. I am doing way too much serialization on python. I am going to reduce it :)

[2022-03-29 23:08] baseplate-admin commented on #113
![Capture](https://user-images.githubusercontent.com/61817579/160720996-9b0e86d9-fa7b-4533-a0ba-34ed382df70c.PNG)

With just only postgres we saw 2.5 seconds :) So yea SQLite is slow. but the main factor was `DEBUG=False` in `settings.py`

[2022-03-31 02:02] Steven-Ha-88 commented on #110
Sorry for the late reply!

Yes we can, TypeScript will be better in the long run

Yes

Yes, Styled-Components

Haven't used this api yet but I'm pretty sure I can consume it :) I shall look at the docs soon.

Not familiar with django unfortunately, but I could learn on the way.

(https://github.com/jazzband/djangorestframework-simplejwt) for token generation.

Yes

Yes. Tailwind, Bootstrap, Semant

[2022-03-31 03:48] baseplate-admin commented on #110
Hi, @Steven-Ha-88

So our backend API is sourced from `jikan.moe` ( Take a look [here](https://github.com/baseplate-admin/CoreProject/issues/113#issuecomment-1081504397) for JSON output )

Although i used Django for this project. I would love to rewrite it in some new framework. ( Check [this](https://github.com/baseplate-admin/CoreProject/issues/31#issuecomment-1043923694) for some more context )

[2022-03-31 08:04] AKindWorld commented on #113
Good job @baseplate-admin!

I think that's pretty much all that we need for now.

[2022-03-31 08:04] #113 closed

[2022-03-31 19:26] baseplate-admin opened #125 "[ AnimeCore ] Backend : Revert to monolith ?"
If we are going to add task queue and use a split architecture, it will share a lot of the same functionality.

For this i am thinking of merging the backends together and then maybe do a split frontend ?

Thoughts ?

[2022-03-31 19:28] baseplate-admin commented on #125
Since i am in charge of backend i am assigning myself to the question.

[2022-03-31 19:29] baseplate-admin commented on #24
Not much interest in test it seems, Closing

[2022-04-01 08:17] AKindWorld commented on #101
Closing this for now, I'll upload some HQ logos once the UI redesign project is completed.

[2022-04-01 08:17] #101 closed

[2022-04-03 02:28] baseplate-admin commented on #110
I will be doing the  ui part :)

I am closing this issue now :)

[2022-04-03 02:28] #110 closed

[2022-04-03 03:48] baseplate-admin commented on #110
Hey @Steven-Ha-88,

I have decided that i will use svelte again for this project.

I tried to use next.js ( the home page was written using next.js till [this part](https://github.com/baseplate-admin/CoreProject/tree/d370186ea5abe66ad63a8499f25e2c8dc88cdc18) )

My problems with next.js :
1. The React UI library is overly complicated compared to Svelte.
2. I can't access class name directly without

[2022-04-03 15:30] #114 closed

[2022-04-19 03:13] baseplate-admin commented on #125
I have found a pattern and i will stick to the monolith django app.

[2022-04-19 03:13] #125 closed

[2022-04-22 12:23] baseplate-admin commented on #113
@AKindWorld The latest changes
![image](https://user-images.githubusercontent.com/61817579/164713566-8416bbf9-1aef-4a55-af2e-3cb068352ec6.png)

[2022-05-04 10:11] baseplate-admin opened #194 "[ `AnimeCore` ] `Backend` : Add `WYSIWYG` editor for customizing FAQ"
* [`django-markdownx`](https://github.com/neutronX/django-markdownx/)

Its there but i would like to see it grow a bit more mature :)

To make `django-markdownx` work on svelte we have

* [`svelte-markdown`](https://www.npmjs.com/package/svelte-markdown)

which [`internally`](https://github.com/pablo-abc/svelte-markdown/blob/37c6ddd91a5395fc008b209a2ad1f1060fd7f5f6/package.json#L47) uses [`marked`

[2022-05-07 04:35] baseplate-admin opened #205 "[ `AnimeCore` ] `Backend` : Lower Font size on `Error` pages"
#203

[2022-05-07 05:17] baseplate-admin commented on #205
Done

[2022-05-09 07:20] baseplate-admin opened #207 "[ `AnimeCore` ] `Frontend` : Make frontend a mono repo"
Plus Points :

* `Caddy` / `NGINX` route to allow hosting from one `node.js` application
* Better code reusability
* Only one framework to deal with
* Easy to refractor logics
* Only one place to `login` / `register` users
* No need for multiple `node.js` apps.
* No need for complex routing ( Well technically we do need complex routing but i feel like MonoRepo routing would be easier )

Minus poin

[2022-05-09 07:20] baseplate-admin commented on #207
@AKindWorld What do you think about this?

[2022-05-09 07:51] baseplate-admin opened #208 "[ `AnimeCore` ] `Frontend` : Use `Session` only cookies."
After #207 gets merged we can actually get Cookie from django as a secure object and store it in `HTTP-only` cookie

[2022-05-09 07:52] baseplate-admin commented on #208
Expect a long delay before this gets addressed

[2022-05-09 07:52] baseplate-admin commented on #194
If #207  gets merged it will be just 1-2 lines of code in `Frontend` to render everything

[2022-05-09 07:55] baseplate-admin commented on #194
Expect delay on this

[2022-05-09 07:57] baseplate-admin commented on #107
#201 Adds `celery`

[2022-05-09 14:31] baseplate-admin commented on #194
https://gist.github.com/elidickinson/1379652

[2022-05-09 16:48] #194 closed

[2022-05-09 16:48] #205 closed

[2022-05-09 16:48] #207 closed

[2022-05-11 11:42] baseplate-admin commented on #208
https://www.npmjs.com/package/svelte-kit-cookie-session

[2022-05-18 00:00] baseplate-admin opened #237 "[ `Architecture` ] : Add `pants` build"
https://www.reddit.com/r/django/comments/qukzlr/getting_started_with_pants_and_django_part_1/

[2022-05-22 08:51] baseplate-admin opened #253 "[ `Architecture` ] : Add `i18n`"
Add internationalization

[2022-05-22 08:51] baseplate-admin commented on #253
https://youtu.be/AlJ8cGbk8ps

[2022-05-22 08:57] baseplate-admin commented on #253
https://github.com/kaisermann/svelte-i18n/

[2022-05-22 10:25] baseplate-admin commented on #253
@AKindWorld thoughts?

[2022-05-22 12:05] AKindWorld commented on #253
Woah I was just thinking about this too. Good timing xD

I can already fit the language/locale switcher in the design part, no problem. In fact, I would've added it by default while designing the profile menu bar and account setting UIs. So, it can fit in without any problem.

On another note, I'll be opening a new issue soon with the completed the UI designs, so that we can have all the completed

[2022-05-22 12:47] baseplate-admin commented on #253
Seems good.

Agreed. Seems very reasonable as #115 is old at this point

Okay :D

[2022-05-22 16:51] baseplate-admin opened #254 "[ `Backend` ] : Add `HyperlinkedModelSerializer`"
I tried to implement it before and successfully failed.. Hopefully i can fix it in near future.

[2022-05-22 16:51] baseplate-admin commented on #254
Some info on why we need it.

https://www.reddit.com/r/django/comments/uv3qyg/what_is_hyperlinked_apis_in_drf/

[2022-05-23 04:58] AKindWorld commented on #115
Closing in favor of an upcoming issue/doc that explores and goes over the whole design system + all pages + UI components + mockups & docs.

[2022-05-23 04:58] #115 closed

[2022-05-24 10:42] baseplate-admin opened #258 "[ `Frontend` ] : Add `Login` modal."
![image](https://user-images.githubusercontent.com/61817579/170015422-f40a7bc5-6138-4daa-9304-90886473ebb3.png)

[2022-05-24 12:51] baseplate-admin opened #264 "[ `Frontend` ] : Add `Discover` section"
![image](https://user-images.githubusercontent.com/61817579/170038969-93ea3136-8df3-40f9-8350-85e69a88cd94.png)

[2022-05-24 12:52] baseplate-admin opened #265 "[ `Frontend` ] : Add `Kaomoji` to `FromYourList`"
![image](https://user-images.githubusercontent.com/61817579/170039190-c91c9bd4-05b5-4e66-8ef6-3a3708082763.png)

[2022-05-24 12:53] baseplate-admin opened #266 "[ `Frontend` ] : Add `AnimeInfo` page"
![image](https://user-images.githubusercontent.com/61817579/170039403-44f60950-b56d-45ba-bc65-eb9e63f2fcc4.png)

[2022-05-24 14:47] baseplate-admin commented on #208
This wont happen..  We are going SPA route

[2022-05-24 14:47] #208 closed

[2022-05-25 02:38] baseplate-admin commented on #107
Got Kitsu working for [`baseplate-admin` profile](https://kitsu.io/users/baseplate_admin)

[code]

[2022-05-25 02:43] baseplate-admin commented on #107
https://myanimelist.net/blog.php?eid=835707

[2022-05-28 10:49] baseplate-admin commented on #254
I am willing to rewrite this project in something other than DRF

[2022-06-01 08:24] baseplate-admin commented on #107
@AKindWorld  I got the kitsu api working

[2022-06-01 08:25] baseplate-admin commented on #107
[code]

[2022-06-01 13:24] baseplate-admin commented on #107
Thats what i am trying to do.. Essentially its a task queue with one worker. So user updates an anime, it goes to redis(an in memory database) then it is executed in a synchronised manner. The first task gets executed then its removed from the queue and so on and forth..

Now the JWT thing is, each time a user requests something the server needs something to recognise the user. So in this case JWT

[2022-06-01 15:34] baseplate-admin commented on #107
@AKindWorld  Sorry if it sounds too complicated ( it is sure complicated ) as even i am trying to figure out how this works

[2022-06-02 06:07] baseplate-admin commented on #107
We have MyAnimeList working :D

[code]

[2022-06-02 06:07] baseplate-admin commented on #107
https://gitlab.com/-/snippets/2039434

[2022-06-02 07:41] baseplate-admin commented on #107
Yep we need that like right now :P

[2022-06-02 14:32] baseplate-admin commented on #107
@AKindWorld Please check the discord for credentials :D

[2022-06-03 00:11] baseplate-admin commented on #237
I think pants does support what i am looking for

[2022-06-03 03:47] baseplate-admin commented on #107
[code]

[2022-06-03 03:48] baseplate-admin commented on #107
looks stable enough

[2022-06-03 03:48] baseplate-admin commented on #107
[code]

[2022-06-04 02:12] baseplate-admin opened #303 "[ `Discussion` ] : Split `refresh_jwt.py`"
## Current Implementation :

### `refresh_jwt.py`

<details>

[code]

</details>

## Proposed Solution :

### `jwt/mal.py`

<details>

[code]

</details>

### `jwt/kitsu.py`

<details>

[code]

</details>

[2022-06-04 02:12] baseplate-admin commented on #303
@AKindWorld Any suggestion?

[2022-06-04 03:43] baseplate-admin opened #304 "[ `Github` ] : Add social Template"
So github can have a social template. @AKindWorld any plans to add support?

[2022-06-04 03:43] baseplate-admin commented on #304
![Screenshot_20220604-094157_Firefox Nightly](https://user-images.githubusercontent.com/61817579/171980670-d9138366-7b4b-4aab-a419-3e7fac0e28f7.jpg)

[2022-06-04 03:45] baseplate-admin opened #305 "[ `Discussion` ] : Do we need a discord bot?"
What are the pros / cons of having a discord bot?

[2022-06-04 03:46] #265 closed

[2022-06-04 03:46] #266 closed

[2022-06-04 03:46] #264 closed

[2022-06-04 03:46] #258 closed

[2022-06-04 03:47] AKindWorld commented on #304
wow, this seems kinda nice xD

It may be a bit too much to ask for, but can you get an example for this one? I understand how it should look like, but doesn't Github also have a built-in dynamic social-media preview thing? @baseplate-admin

Thanks!

[2022-06-04 03:53] baseplate-admin commented on #304
Not at all

![2ba60e80-c4c0-11eb-9de2-4c0929393732](https://user-images.githubusercontent.com/61817579/171981238-9fc2df1c-2a88-4c45-b878-359f7ac93ca3.png)

From https://github.com/marcreichel/igdb-laravel

[2022-06-04 03:57] baseplate-admin commented on #304
The picture i sent you over at discord seems a good candidate :D

[2022-06-04 03:59] AKindWorld commented on #304
Yep, thanks a lot!

Aha, just saw it. I'll resize and remodify it a bit, and then we can export and use it here :)

[2022-06-04 05:29] #303 closed

[2022-06-04 06:28] baseplate-admin opened #308 "[ `Design` ] : Make better landing page."
So the current landing page looks like this

![image](https://user-images.githubusercontent.com/61817579/171987505-4d2b055e-5fd0-45e0-813c-8eeac746c22c.png)

maybe we can add some particles into the mix ?
with [a cool js lib](https://vincentgarreau.com/particles.js/) ?

[2022-06-04 06:28] baseplate-admin commented on #308
Pinging @AKindWorld

[2022-06-04 06:30] baseplate-admin opened #309 "[ `README` ] : Remove `CodeClimate`"
Its been a while since i didn't use codeclimate in this project. So this means effectively we dont need to add codeclimate badge in the `README.md` file. So in my opinion we should remove the codeclimate badge :)

[2022-06-04 06:31] baseplate-admin commented on #309
@AKindWorld What do you think ?

[2022-06-04 06:33] baseplate-admin commented on #309
Remove the lines

https://github.com/baseplate-admin/CoreProject/blob/9255a979e4974ea413570a19b982020d7b203653/README.md?plain=1#L37-L39

[2022-06-04 06:33] baseplate-admin commented on #309
@AKindWorld You willing to submit a PR ? 📦

[2022-06-04 06:43] AKindWorld commented on #308
Oh this is just the landing page for the Figma design file. For the project domain's landing page, I've got some pretty good better ideas xD

Just gimme a few more days for that.

with [a cool js lib](https://vincentgarreau.com/particles.js/) ?

Yup, sounds good to me, I'll try to incorporate those.

Thanks & sorry for confusing you. @baseplate-admin

[2022-06-04 06:43] baseplate-admin opened #310 "[ `Architecture` ] : `URLPatterns` Discussion"
## So the site operates like this ( we planned like this )

<details>

`https://example.com/animecore/`         ➜      `AnimeCore ( Static Files )`
`https://example.com/soundcore/`         ➜      `SoundCore ( Static Files )`
`https://example.com/api`                ➜      `API ( Django )`
`https://example.com/admin`              ➜      `Admin ( Django )`
`https://example.com/faq`                ➜

[2022-06-04 06:44] baseplate-admin commented on #308
XD sorry i got confused. I thought this is a really good design. Thats why i wanted to make it a bit more cooler

[2022-06-04 06:45] baseplate-admin commented on #310
@AKindWorld What do you think of this ?

[2022-06-04 06:45] AKindWorld commented on #309
Yup sure. I'll update the Readme a bit too with more (& updated) screenshots + the `Built with` portion. So, yup, this is in the to-do too.

Let's keep this issue open till then, if you don't mind.

[2022-06-04 06:46] baseplate-admin commented on #309
Okay :D But lets keep the format. Like the Master is protected. Dont commit against master :P Open a new branch and then submit a Pull Request. ( It would be better to do it in your fork ) then submit a direct PR

[2022-06-04 06:47] baseplate-admin commented on #310
While both can be achieved i am open to discuss this :)

[2022-06-04 06:53] AKindWorld commented on #310
Hmm I see.

This isn't a big issue, but for this project, the domain names would become pretty long. So, in addition to this, what we can do is add a redirector like (which doesn't solve the long URL problem completely but could work)

* If the user types, `animecore.example.com` redirect to `example.com/animecore` by default.
* If the user types, `example.com/animecore`, we're all good.
* If the

[2022-06-04 06:55] AKindWorld commented on #308
no worries :)

But don't worry, our landing page should look something like this too, but better xD

[2022-06-04 07:05] baseplate-admin commented on #310
Umm how can i tell exactly. Well i will explain it in Details after 6-7 hours.

[2022-06-04 07:05] baseplate-admin commented on #308
Add all the sites that we have?

[2022-06-04 07:05] baseplate-admin commented on #308
But not too bloated

[2022-06-04 19:01] baseplate-admin opened #311 "Performance"
`gunicorn core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker`

<pre>Summary:
  Total:	162.1139 secs
  Slowest:	1.3894 secs
  Fastest:	0.0237 secs
  Average:	0.5863 secs
  Requests/sec:	61.6850

  Total data:	137500000 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.024 [1]	|
  0.160 [1149]	|■■■■■■■■■■■■■■■
  0.297 [773]	|■■■■■■■■■■
  0.433 [729]	|■■■■■■■■■■
  0.570 [2010]

[2022-06-04 19:08] baseplate-admin commented on #311
<pre>Summary:
  Total:	49.9146 secs
  Slowest:	1.7874 secs
  Fastest:	0.0221 secs
  Average:	0.5940 secs
  Requests/sec:	76.7511

  Total data:	52676250 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.022 [1]	|
  0.199 [1972]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.375 [185]	|■■■■
  0.552 [0]	|
  0.728 [14]	|
  0.905 [96]	|■■
  1.081 [363]	|■■■■■■■
  1.258 [608]	|■■■■■■■■■■■■

[2022-06-04 19:12] baseplate-admin commented on #311
`uvicorn core.asgi:application --workers 4 --loop uvloop --no-access-log`

<pre>Summary:
  Total:	199.9547 secs
  Slowest:	1.6838 secs
  Fastest:	0.0224 secs
  Average:	0.7473 secs
  Requests/sec:	50.0113

  Total data:	137500000 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.022 [1]	|
  0.189 [1030]	|■■■■■■■■■■■■
  0.355 [1464]	|■■■■■■■■■■■■■■■■■■
  0.521 [943]	|■■■■■■■■■■■
  0.6

[2022-06-04 19:22] baseplate-admin commented on #311
`hypercorn core.asgi:application -w 4 -k uvloop`

<pre>
Summary:
  Total:	201.3739 secs
  Slowest:	1.6256 secs
  Fastest:	0.0229 secs
  Average:	0.7187 secs
  Requests/sec:	49.6589

  Total data:	137500000 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.023 [1]	|
  0.183 [355]	|■■■■■
  0.343 [3044]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.504 [528]	|■■■■■■■
  0.664 [28]	|
  0.

[2022-06-04 19:29] baseplate-admin commented on #311
`supervisord`

<pre>Summary:
  Total:	142.5060 secs
  Slowest:	1.3197 secs
  Fastest:	0.0225 secs
  Average:	0.4914 secs
  Requests/sec:	70.1725

  Total data:	137500000 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.023 [1]	|
  0.152 [316]	|■■■■■
  0.282 [2226]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.412 [2315]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.541 [727]	|■■■■■■■■

[2022-06-04 19:39] baseplate-admin commented on #311
`circus`

<pre>Summary:
  Total:	113.1906 secs
  Slowest:	0.9443 secs
  Fastest:	0.0224 secs
  Average:	0.3954 secs
  Requests/sec:	88.3465

  Total data:	137500000 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.022 [1]	|
  0.115 [238]	|■■■■
  0.207 [423]	|■■■■■■■
  0.299 [2539]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.391 [2424]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.48

[2022-06-04 19:40] baseplate-admin commented on #311
This mostly concludes my test.

[2022-06-04 19:50] baseplate-admin commented on #311
<pre><span style="background-color:#D3D7CF"><font color="#008787">  </font></span><span style="background-color:#008787"><font color="#D3D7CF"></font></span><span style="background-color:#008787"><font color="#E4E4E4">  </font></span><span style="background-color:#008787"><font color="#EEEEEE"><b>~</b></font></span><span style="background-color:#008787"><font color="#E4E4E4">/</font></span><spa

[2022-06-04 19:51] baseplate-admin commented on #311
Looks Good :D

[2022-06-05 04:57] baseplate-admin commented on #311
<pre>Summary:
  Total:	49.0768 secs
  Slowest:	0.9333 secs
  Fastest:	0.0014 secs
  Average:	0.0245 secs
  Requests/sec:	2037.6221

  Total data:	1375000000 bytes
  Size/request:	13750 bytes

Response time histogram:
  0.001 [1]	|
  0.095 [99843]	|■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.188 [6]	|
  0.281 [0]	|
  0.374 [0]	|
  0.467 [0]	|
  0.561 [0]	|
  0.654 [0]	|
  0.747 [0]	|
  0.840 [0]	|

[2022-06-05 13:10] baseplate-admin commented on #304
Thanks @AKindWorld
As usual you rock

[2022-06-05 13:10] #304 closed

[2022-06-05 13:11] baseplate-admin commented on #304
![unknown](https://user-images.githubusercontent.com/61817579/172052040-0b8ba03a-a120-4bdb-ac7c-e3f18d4ac674.png)

[2022-06-05 15:37] #311 closed

[2022-06-07 14:57] baseplate-admin commented on #305
@AKindWorld Do you think we need it ?

[2022-06-08 13:43] baseplate-admin opened #322 "[ `Android` ] : Add `Caching`"
https://stackoverflow.com/questions/34606785/how-to-enable-caching-in-webview-android

[2022-06-08 13:46] baseplate-admin opened #323 "[ `Android` ] : Add `Render Priority`"
https://stackoverflow.com/a/64582369

[2022-06-08 14:41] baseplate-admin opened #325 "[ `Android` ] : Add `Hardware` `Acceleration`"
https://stackoverflow.com/a/7528833

[2022-06-09 04:58] baseplate-admin commented on #254
lets reopen this. I will take a jab at this when i have a bit more free time to waste

[2022-06-09 05:03] #322 closed

[2022-06-09 05:03] #323 closed

[2022-06-09 05:03] #325 closed

[2022-06-14 02:37] baseplate-admin opened #334 "[ `Backend` ] : Replace `HTTPX` with `requests`"
So HTTPX is a new library and i decided to use it. But it doesnt have rate limiting.

So for this reason i am planning to use python requests.

[2022-06-14 02:37] baseplate-admin commented on #334
Rate Limiting : https://github.com/JWCook/requests-ratelimiter

[2022-06-14 02:38] baseplate-admin commented on #334
Cache : https://github.com/requests-cache/requests-cache

[2022-06-15 04:59] baseplate-admin opened #339 "[ `Android` ] : Rewrite app in google material design."
So currently the app is running [kivy](https://github.com/baseplate-admin/CoreProject/blob/7236b380d6ac607d0edef7cc751357be9daece39/android/AnimeCore/main.py#L1-L65) + [webview](https://github.com/baseplate-admin/CoreProject/blob/7236b380d6ac607d0edef7cc751357be9daece39/android/AnimeCore/webview.py#L26-L184).

This approach is suitable for our case i have seen slowdown in the app startup. So in th

[2022-06-16 05:22] baseplate-admin commented on #254
For anyone wondering.  THIS [branch](https://github.com/baseplate-admin/CoreProject/tree/whole-lot-of-mess) has some fixes

[2022-06-16 11:16] baseplate-admin commented on #310
What do you say? @baseplate-admin

Sorry for the delay @AKindWorld

So lemme explain whats happening.

`https://anime.example.com` <- This is a subdomain.
`https://example.com/anime` <- This is not a subdomain.

Now when you switch from domain to subdomain the SPA breaks.

So this means if you do :
`https://example.com/anime` -> `https://example.com/manga` ( This is okay | The SPA experience wont

[2022-06-16 11:17] baseplate-admin commented on #310
Also another thing

✅ `https://anime.example.com/`
❌ `https://animecore.example.com/`

[2022-06-16 11:19] baseplate-admin commented on #310
* If the user types, example.com/animecore, we're all good.
   * If the user types, example.com/anime, again redirect them to example.com/animecore

This part is honestly easy. Just add entry to the [`Caddyfile`](https://github.com/baseplate-admin/CoreProject/blob/c149409cc9c8e88a6f6e4f8c11f65e952103666d/Caddyfile)

[2022-06-17 04:41] #334 closed

[2022-06-19 11:32] baseplate-admin opened #349 "[ `Design` ] : Refractor `Pagination`"
Pinging @AKindWorld,

So currently the pagination looks like this
![image](https://user-images.githubusercontent.com/61817579/174478730-aeb2f82e-46a7-40b4-af4f-79a6650458a1.png)

Could you give me a reference to which component did you find this in ?

Or is this a design decision to make it look a bit more unique ( This might explain why i couldn't find it in `Mantine` )

[2022-06-19 11:38] baseplate-admin commented on #349
In the mean time please read [this ](https://discord.com/channels/@me/958266195654639646/988045119515160628)

[2022-06-20 04:31] AKindWorld commented on #349
Hi! @baseplate-admin

So yup, about the Pagination - it indeed isn't in Mantine (Mantine has, unfortunately, very limited choices for Pagination), so this was a somewhat unique design choice - if it isn't possible, no worries. I'll change it to something more proper.

The least I could find is something similar in Swiper - with `Autoplay`, `Pagination progress` & a lil bit of tweaking. But I do un

[2022-06-20 06:03] baseplate-admin commented on #349
Okay i see.

No worries, I am about to implement it. See the latest change in PR #348

I got it :P Thanks for giving me the heads up into ideas.

I thought the designer had resigned. So i was pinging you a bit too much ( i hope you didn't mind )

---

Thanks for replying i hope you have a good day :D

[2022-06-20 09:33] baseplate-admin opened #354 "[ `Design` ] : Lets adopt open color"
Pinging @AKindWorld ,

Mantine is based on [opencolor](https://yeun.github.io/open-color/).

So do you think we can make opencolor a part of our project ? ( if not can you provide me 10 shades of yellow ? )

[2022-06-20 09:39] baseplate-admin commented on #354
Need them in

https://github.com/baseplate-admin/CoreProject/blob/0128a405cf0c01e7fc727dc7742e6974ba53a609/frontend/AnimeCore/components/swiper/MainHero.tsx#L109-L111

https://github.com/baseplate-admin/CoreProject/blob/0128a405cf0c01e7fc727dc7742e6974ba53a609/frontend/AnimeCore/components/swiper/MainHero.tsx#L139-L145

[2022-06-20 10:03] baseplate-admin opened #355 "[ `Architecture` ] : Tracker discussion."
So in our current method we are doing a [fan out ](https://en.wikipedia.org/wiki/Fan-out_(software)) method to get all the trackers synced up.

This pattern is good if our application has a small userbase ( below 100k )

Because each service rate limits us at 90 req/min ( which effectively caps at 129,600 req/day

Now we have a few choices. We can either

1. Drop the server Fan Out method and swit

[2022-06-20 12:45] baseplate-admin commented on #354
Sorry i missed it somehow 😐

The thing with mantine is it wont work without 10 shades ;} So until we are doing something in azure dont need it :P

[2022-06-20 12:47] baseplate-admin commented on #355
@AKindWorld give us some of your holy insights

[2022-06-20 12:49] AKindWorld commented on #354
Wait no no- I meant that I just added it in the Figma file.

I'm sorry for the confusion :(

Also no worries. Lets keep this issue open till the Azure - 10 shades part. I'll do it and send it shortly.

[2022-06-20 13:20] baseplate-admin commented on #354
I am getting less sleep these days. It seems i am finally giving in to my desire of becoming mad.

No worries :P

Sure. Please review #356  in the mean time

[2022-06-20 15:23] AKindWorld commented on #354
Here are the 10 shades for Azure.

![image](https://user-images.githubusercontent.com/41228366/174633180-1236ba58-2547-4d5e-bad9-33c308d5139f.png)

Once again, we're mostly using the colors marked as primary 01/02/03/04.

Also another question, in the Design files, we have some other colors that fall under no specific category - status colors, neutral colors, dialog colors & light-tint colors - as

[2022-06-20 15:27] baseplate-admin commented on #354
Thats exactly what mantine provides other for :P . Feel free to drop one off colors that way. But beware that button created with one off colors need a little bit more work to look good.

[2022-06-20 15:31] baseplate-admin commented on #354
@AKindWorld Which of [these colors](https://mantine.dev/theming/extend-theme/#default-colors) should i replace with azure?

[2022-06-20 15:32] AKindWorld commented on #355
Holy insights xD

Hmm, but more seriously, I think we can go either of two ways for now -

1. Keep the fan-out method for now, atleast until release and until we acquire a userbase, however small/large.
2. As you said, drop fan-out method & switch to something-else-more-complicated-that-goes-over-my-head.

The main factor here is how much work it is to switch to a different method later on. If it'

[2022-06-20 15:36] baseplate-admin commented on #355
Its too much work ( that i am not familiar with | developing extensions is not me expertise )

Thats what will happen i am afraid ( unless we become something big )

[2022-06-20 15:39] AKindWorld commented on #354
Yay, sounds great to me! I'll create & send over the Extras palette soon then. Also, most of the extras colors are used in backgrounds, borders and such, so it shouldn't be much of an issue.

I think you can replace either the Indigo or the Blue. Blue seems better off for replacing, so I'd choose that.

^^

[2022-06-20 15:56] baseplate-admin commented on #354
Closing it then

[2022-06-21 03:10] baseplate-admin commented on #310
@AKindWorld share some of your insights here too :D

[2022-06-21 06:27] #349 closed

[2022-06-21 06:36] AKindWorld commented on #310
I think it's all good with this plan. @baseplate-admin

So, the working URLs will be `example.com/anime`, `example.com/manga` and so on. (`anime` instead of `animecore`, works better)

Redirect all similar URLs to the ones above. That way, we get short URLs [<20 chars] + SPA does not break + Kokoro-chan happy :)

[2022-06-21 10:31] #310 closed

[2022-06-21 10:31] baseplate-admin commented on #309
You should delete your fork and refork this project

[2022-06-21 11:12] baseplate-admin opened #360 "[ `Frontend` ] : Fix dark reader"

[2022-06-21 11:12] baseplate-admin commented on #360
https://github.com/hadialqattan/no-darkreader

[2022-06-21 11:13] baseplate-admin commented on #360
![Uploading Screenshot_221-1743_Firefox Nightly.jpg…]()

[2022-06-21 11:14] baseplate-admin commented on #360
![Screenshot_20220621-1_Firefox Nightly](https://user-images.githubusercontent.com/61817579/174786527-21497df5-e63e-40ce-885b-f8b512db3dcf.jpg)

[2022-06-21 11:14] baseplate-admin commented on #360
![Screenshot_20220621-112_Firefox Nightly](https://user-images.githubusercontent.com/61817579/174786658-d55b9cc4-deb3-405f-bfcd-ff32fd3528e3.jpg)

[2022-06-21 11:38] #360 closed

[2022-06-23 02:08] baseplate-admin opened #363 "[ `Frontend` ] : Add font size"
Pinging @AKindWorld

You should define the pixels in [mantine theme object](https://mantine.dev/theming/extend-theme/#typography). :)

[2022-06-23 02:39] baseplate-admin commented on #363
https://github.com/baseplate-admin/CoreProject/blob/8109250d8335449ba89e27d86c67f9a6ef96407b/frontend/AnimeCore/components/swiper/MainHero.tsx#L204

[2022-06-23 03:42] baseplate-admin opened #365 "[ `Frontend` ] : Add skeleton to `MainHero`"

[2022-06-23 13:09] #365 closed

[2022-06-23 15:09] baseplate-admin opened #369 "[ `Frontend` ] : Remove React"
@AKindWorld

[2022-06-23 15:10] baseplate-admin commented on #369
Welcome to the world of react

[2022-06-24 13:55] baseplate-admin opened #372 "[ `Question` ] : What Icon library are we using?"
Pinging @AKindWorld

[2022-06-24 16:44] AKindWorld commented on #363
wait- so there are other text scaling methods other than the headings h1-h6? That's great! How should I define them though? Just all the text sizes we'll use? or is there something else to mention too?

[2022-06-24 16:55] AKindWorld commented on #372
Hmm good question. While there are lot of choices (ones that even includes making our own from scratch), I think we're better off with using the [Material Design 3 icons](https://fonts.google.com/icons). The Rounded & Filled Rounded ones fit our design scheme effortlessly, and there are a huge number of icons available too - without any plans & attribution & all that. And using a font icon library

[2022-06-24 17:05] baseplate-admin commented on #372
Umm i think i failed to clarify... We dont need an icon library..  I was just asking what you were using in design..

Umm does it belong to any library?

Lets keep what we have.. 😂.  Your icon design looks surprisingly good. So thats why i wondered what kind of library you were using..

[2022-06-24 17:07] baseplate-admin commented on #363
Yep

Umm for starters gimme 6 different sizes for fonts.

Yep (in pixels to be exact)

Nope 👀

[2022-06-24 17:14] AKindWorld commented on #372
oh oops... sorry for misunderstanding

What I use are several different plugins for Figma (which all source their icons differently), the most used being Feather icons. I took a look, and they have a [website](https://feathericons.com/) & a [Github repo for the plugin](https://github.com/feathericons/figma-feather) too, but I don't think we can call it a... library?

Also a lot of the times, I hav

[2022-06-24 17:17] AKindWorld commented on #363
Ah yeah, that's where the problem is - which 6 should I choose? I can give six for desktop, and six for mobile, but for both combined, it's pretty hard :/

That... or we can use em & rem, or font sizing in percentages to make it responsive, but I'm not sure if Mantine supports those.

[2022-06-24 17:19] baseplate-admin commented on #372
No worries.

Okay i have my answer.. Thanks for clarifying..  Feel free to close this issue.

----

Have a good day ( or night )

[2022-06-24 17:22] baseplate-admin commented on #363
So lets do it like this :

6 = Normal Button size for desktop
1 = Normal Button size for mobile

( 2-5 ) some random values.

[2022-06-24 17:22] baseplate-admin commented on #363
But no worries if you cant get perfect sizing. I can always override stuff with CSS

[2022-06-24 17:23] baseplate-admin commented on #363
Anything that can be done in CSS can be done in mantine. But the time complexity increases and we might not have the uniform look that we are going for :P

[2022-06-24 17:26] AKindWorld commented on #363
Okay, so 1-6 just for the Button sizing? That I can manage - but won't it cause problems in the other components?

Oh I see. Well, I'll try to make out a good scale in a while - but yeah, I can guarantee a perfect one right now.

Ah I see! Yeah, well, using em & rem is a pretty time-taking task imo, so yeah - let's not try it, atleast now.

I'll work on the text scaling in a bit and send it here ^

[2022-06-24 17:27] #372 closed

[2022-06-24 17:31] baseplate-admin commented on #363
Actually lets do something different. I saw a different approach and we can check it tomorrow. For now lets make the change to the font size. Give me 6 font size that should cover both mobile and desktop ( i know this is hard but please take a look if you can do it )

 where

6 = normal font size on desktop
1 = normal font size on mobile

(2-5) some random font size in between

[2022-06-26 13:19] AKindWorld commented on #363
Alrighty I messed around a bit and I think this should work mostly for both mobile & desktop. If there's anything unincluded, then we can just use custom CSS for that part (there shouldn't be much though).

![image](https://user-images.githubusercontent.com/41228366/175815912-fd40bdab-d90e-445d-a236-24e03826da41.png)

Out of this, 24, 20 and 16 are the most used ones but all 6 are used in atleast

[2022-07-03 02:21] baseplate-admin commented on #339
Hey @AKindWorld, i have profiled this Frontend we are making. Though it works awesome on desktop. The performance on mobile phone ( specially with low end androids ), is very unsatisfactory.

So in near future we might need to make an android app to give a better experience to our users (lets keep it in our plan)

[2022-07-03 03:12] baseplate-admin commented on #369
[Another rant](https://github.com/baseplate-admin/CoreProject/issues/339#issuecomment-1172998164)

[2022-07-03 07:19] AKindWorld commented on #339
ah yeah I checked it too. Lighthouse (Google's profiler) is of the same opinion it seems [for mobile].

![image](https://user-images.githubusercontent.com/41228366/177028355-716276c0-e8ca-465e-a9da-44d1cbb11296.png)

Link: https://web.dev/measure/?url=https%3A%2F%2Fcoreproject.vercel.app

A big part of the performance & network issues may be caused by the image sizes & formats too. Currently the i

[2022-07-03 12:11] baseplate-admin commented on #339
Actually "google" complains because we are not using "google" invented formats. JPEG is efficient enough. AVIF is not yet mature.

This is not a good solution in my opinion. Because we are delaying the inevitable.

---

A big reason of our performance issue lies in the stack we chose.

i. React ( The slowest JS Framework )
ii. Swiper
iii. Mantine.

Monkey patching image to get more performance wil

[2022-07-04 08:41] AKindWorld commented on #339
ah yup, that makes sense.

For the images, even more than performance, network might become an issue. We will need to compress the images one way or the other, but yup. that can wait a bit more. Tbh the only times we need large images is for the carousel & the anime-info pages. Other than those, we're using pretty small & low-sized images.

As for performance, I'm not sure about the underlying tec

[2022-07-04 09:10] baseplate-admin commented on #339
Yes thats true. But Network is not the main problem we are facing...

I will take a look into this. But.... Lemme rant a bit more..

Yep yep. In my I5-7400 i see no slowdowns. But as soon as i switch to my samsung a71. The performance goes downhill real quick...

Spoiler : Lowering the image size gives us 200-300ms worth of savings at a significantly lower User Experience..

All in all we should f

[2022-07-04 10:06] baseplate-admin commented on #339
![image](https://user-images.githubusercontent.com/61817579/177132841-a7502196-7666-46d2-8a66-a82851548b33.png)

See all the mantine components?

They are the ones making the slide slow :)

[2022-07-05 06:19] baseplate-admin opened #404 "Looking for new maintainers"
So,

Yesterday my PC got busted. The USB  power delivery chip shorted for some reason. As the situation stands, i am without a PC.

Now my PC is from 2016 with I5-7400 CPU. Motherboard for this CPU is scarce. In my city ( note that i am from a 3rd world country ). The motherboard is a relic.

So when I graduate from college ( which will happen in December this year ). I will be eligible for a new

[2022-07-05 06:26] baseplate-admin commented on #404
![](https://ibb.co/fvQgKyF)

Here is a pic of my keyboard to show what i am facing

[2022-07-06 03:24] baseplate-admin commented on #404
![20220705-102702](https://user-images.githubusercontent.com/61817579/177461461-966c34b2-7c8b-4adb-85d5-964bc0bdf862.jpg)

Here is a picture of my keyboard to show what problem i am facing

[2022-07-06 05:31] AKindWorld commented on #404
oh my... I'm so sorry to hear that. Don't worry, I don't mind at all - there isn't anything you can do about this.

I'm really glad to have met you too - but we will continue on this project for sure. In the somewhat 6 months or so, I'll go ahead and work on my skills too.

About maintainers, if there's anyone willing to step up, I'm all ready to help them with the designing too. If there isn't an

[2022-07-08 12:08] baseplate-admin commented on #404
Hey tomorrow i am going to go to a shop to see if i can get my motherboard fixed :)

Lets hope i can get it fixed

[2022-07-15 07:02] baseplate-admin opened #419 "[ `Frontend` ] : Add splash screen"
So we need a splash screen to reduce  `First Content Paint`.

A Blog post on this : https://blog.bitsrc.io/nextjs-splash-screen-7c8b528c69a2

[2022-07-21 03:48] baseplate-admin commented on #404
Last update in https://github.com/baseplate-admin/CoreProject/pull/393#issuecomment-1179956059

[2022-07-21 03:48] #404 closed

[2022-07-21 05:51] innocentvoice commented on #305
as for me, pros of having a discord bot interacting with the site's API to give user information about animes and other stuff is also good. i don't see any cons of having it. But maybe the only cons is...time to maintenance the bot(?)

sorry for my poor english!

[2022-07-21 06:03] baseplate-admin commented on #305
Hi there, Thanks for taking an interest in our project :D

Yepp thats what i thought tooo :D.
I will add the Discord bot ( right after i finish the backend )

Yep .. But the interactions are simple enough. I dont think it will take that much of time.

Your English is pretty good ^__^

---

I wish you a good day :D

[2022-07-22 00:22] baseplate-admin commented on #363
Hey @AKindWorld would you mind closing this? I have ready used these variables

----

Thanks ^_^

[2022-07-22 08:38] #363 closed

[2022-07-22 09:03] AKindWorld commented on #419
Going in through the blog link, I think we can use this one temporarily in our project. I was working to create a splash screen too, but I haven't yet figured out a good recurring logic of what to go by, except for animating simple shapes. I'll probably think and work on it later so for now, you can add this one.

https://uiverse.io/detail/mobinkakei/proud-ladybug-46 [just the circle version; cent

[2022-07-22 10:56] baseplate-admin commented on #419
hey there i have implemented this :D

But svelte is so fast that i dont think users will see it 99% of the time.

Also i changed the background color ( i did it on black and i think it looks better )

Take a look :D

^____^

[2022-07-22 13:42] #369 closed

[2022-07-22 13:42] #419 closed

[2022-07-26 17:11] AKindWorld opened #438 "[ `Design` ] : Anime Info page"
Mockups, design guidelines & Figma prototypes for the Anime Info page.

Any feedback is welcome :)

^^

[2022-07-26 17:15] baseplate-admin commented on #438
Lemme get back to you in 24 hours 👀

[2022-07-26 17:49] AKindWorld commented on #438
**Redesign results - [Ongoing]**

<details><summary>Old: </summary>

<br>

Laptop Layout:
![image](https://user-images.githubusercontent.com/41228366/181072670-f6b454b8-07c2-4ec0-9713-e7b2533c8bc8.png)

Desktop Layout:
![image](https://user-images.githubusercontent.com/41228366/181072577-7ef8acc5-8bbe-434a-86e0-dc57fa87dc80.png)

Episode page Layout:
![image](https://user-images.githubusercontent.

[2022-07-27 16:58] baseplate-admin commented on #438
Hi there,

@AKindWorld

So take a look at this slide
![image](https://user-images.githubusercontent.com/61817579/181305729-c2e013cc-dd0e-497c-a6f5-5a8402fc7d05.png)

Umm in my opinion theres too much spacing in the middle. Like cant we put the search box in the middle ? Also what does the icon here do?

[2022-07-28 16:45] AKindWorld commented on #308
Hey @baseplate-admin!

I was working on something new, and decided to go over the Github Social banner and update it.

Here's the final result -

<img width="1280" alt="Github Social Template - FINAL v2" src="https://user-images.githubusercontent.com/41228366/181592200-55a61c0e-2718-4aea-ba90-2f2aa4826323.png">

Could you please update it? I did the last one in a hurry (and with an unfinished desi

[2022-07-28 16:48] baseplate-admin commented on #308
Done :D

[2022-07-28 16:49] AKindWorld commented on #308
Yay, thanks! ^^

[2022-07-28 16:50] baseplate-admin commented on #308
I like your design :D

Good job :D

[2022-08-02 13:50] baseplate-admin commented on #438
hey i will be working on this next :D

[2022-08-02 15:08] AKindWorld commented on #438
Heyo!

alrighty I worked a bit more on it, and now I have managed to solve almost all of the issues while having it synced to the design system.

<details>
<summary>Here's a few screenshots: </summary>

![image](https://user-images.githubusercontent.com/41228366/182404256-24bb068f-4d9d-4457-b358-bfa53487a664.png)

![image](https://user-images.githubusercontent.com/41228366/182404717-58390dcf-22a8-

[2022-08-02 16:30] baseplate-admin commented on #438
Got it.

Gimme some time :D

In the mean time please take a look at https://github.com/baseplate-admin/CoreProject/pull/427#issuecomment-1202500249

[2022-08-06 13:07] #254 closed

[2022-08-09 01:33] #107 closed

[2022-08-10 13:32] AKindWorld commented on #438
Hey,

just a small heads-up: don't start working on this just yet - I got a different wave of ideas in my head, and am currently prototyping it (almost finished). The newer idea doesn't mess with animations and should be more stable in terms of performance.

if you already started on it, I'm really sorry for letting you know late.

I'll upload the prototype in a bit.

Good day to you ^^

[2022-08-11 07:55] baseplate-admin commented on #438
No worries. I haven't started working on this page yet

[2022-08-11 17:05] AKindWorld commented on #438
Hi hi!

<details>
<summary>Here's the full-height prototype: </summary>

![Anime Info Page v3 - 01](https://user-images.githubusercontent.com/41228366/184189317-443ebdeb-d394-46fe-aa95-81c0640e3a9f.png)

</details>

Pros:
1. Everything in one scrollable page, with a simple layout (reduces scrolling/clicking too much).
2. No complex animations/pagination system - also reduces space wastage by a lot

[2022-08-11 17:16] baseplate-admin commented on #438
As usual it Looks Awesome :D

Awesome work :D

One more request. Please send the data here too :) ( if its possible )

[2022-08-11 17:17] baseplate-admin commented on #438
Also you forgot to add a con :
1. It needs to be coded

[2022-08-14 04:55] baseplate-admin opened #476 "[ `Backend` ] : What are we looking for in forum"
Hey there,

I am currently merging [`MAL_Scraper`](https://github.com/baseplate-admin/MAL_Scraper) into [backend](https://github.com/baseplate-admin/CoreProject/blob/117bbf054dfd6fe952767f276de1348bee793c93/backend/apps/__anime__/management/commands/populate_characters.py). The integration is boring tbh but i have almost finished it.

---

So umm,

what kind of permissions are we looking for.

Are

[2022-08-14 05:31] AKindWorld commented on #476
Hi!

By permissions, do you mean the permissions that users have in the forums?

If so, then yup - pretty much so, users can create, edit, vote and comments on posts & comments, and admins/moderators would have superuser perms, naturally - in my opinion.

Haha don't worry, I don't mind it at all xD

^^

[2022-08-14 05:36] baseplate-admin commented on #476
Do we allow admin to delete posts on forum or using the django admin?

[2022-08-14 05:49] AKindWorld commented on #476
I think being able to delete posts on forum would be the best course of way, but if it's hard/not possible, the other is possible too.
Anyways, it's okay even if we don't launch all features on release, we can slowly add them eventually, so don't overwork yourself :)

Primarily for a forum to function okay, all we need is the ability to create posts, comment on posts & reply to comments, and for a

[2022-08-14 05:52] baseplate-admin commented on #476
So what i am thinking is we are letting `giga-admins` use `django-admin` wheres `admins` use forum delete button to delete posts :P ( its just 3 lines of code. So not hard to implement this at all )

[2022-08-14 06:50] AKindWorld commented on #476
Sounds good to me :)

I think normal - kinda like the HoyoLab ones, so basically we're showing all comments to posts directly, and hide replies to comments behind another click-to-expand box.

I think not- only if the user themselves deletes the post, will we delete them. Otherwise, posts made by a deleted user should stay with a Deleted User tag (you can make it system reserved), kinda like how R

[2022-08-14 07:01] baseplate-admin commented on #476
Umm i am still not sold on `Disqus`. But i have already coded the [comments](https://github.com/baseplate-admin/CoreProject/blob/6acd984d1434d5e5dbd18b178f533f82c19687fe/backend/apps/api/v1/anime/models/episode_comment.py) section. ( its simple | No tree style comments | do we need tree style comments ? )

[2022-08-16 04:27] baseplate-admin commented on #476
Hi @AKindWorld ,

Should we take this to #305  ?

+~+

[2022-08-17 05:20] AKindWorld commented on #476
Hi there! sorry for taking so long in responding back; I accidentally nuked my core drive while messing with some themes, and welp- ;-;

I thought a bit more about it, imo here's what we can go with -

<details>
<summary>tree-style comments for the comment section</summary>

![image](https://user-images.githubusercontent.com/41228366/185039034-841c7c75-4877-4935-b9ed-4538c39ebec4.png)

</details>

[2022-08-17 05:31] baseplate-admin commented on #476
Everything alright now ? I hope you recovered everything

lets not make it overly complex. Just some stuff that our bot might benefit from. But first lets ask for what we are looking for in our bot

Yep i was coding for something like this. Only problem is i have no idea how to implement this ☠️

No worries. I was joking :P

So umm do we create our server ? Umm i sent you a DM a while back. ( don'

[2022-08-17 06:45] AKindWorld commented on #476
Yup, thankfully - I save my files on separate drives, which were all safe. I just managed to corrupt my Windows installation, so I had to clean install everything; but it's better in one way - I managed to remove a lot of useless clutter; also it was my fault as well - I didn't backup a system restore image beforehand ;-;

I think for now a bot that can link & find animes from their name is good e

[2022-08-17 06:45] AKindWorld commented on #476
alrighty, closing this issue :)

^^

[2022-08-17 06:45] #476 closed

[2022-08-17 10:23] baseplate-admin commented on #476
Adding this to backend is a bit tough 💀 . So many formats across so many website. We need to map the functionality ourself

Some songs and a cola would help my brain 🤞🏻

Our site is read heavy. I can add varnish and it will scale to the moons ( hopefully )

I sent you another message :)

[2022-08-21 13:32] baseplate-admin commented on #339
Hey @AKindWorld

We are going app route right?

Can you test kivy apps?

[2022-08-22 09:00] AKindWorld commented on #339
Hi!

For mobile version, yeah- pretty much. Optimizing everything for the mobile web is a painful and redundant task, and most users prefer apps anyway.

I think I would be able to- does it require simply installing an APK or needs compilation/etc.?

^^

[2022-08-22 09:45] baseplate-admin commented on #339
I am afraid its a little more than that. But you are on windows right? I can send you exe. To remove some work on your part..

^_^

[2022-08-22 10:01] AKindWorld commented on #339
Aha I see, sounds good to me. Feel free to send it to me anytime - here or Discord, whichever you prefer.

Haha indeed xD

^^

[2022-08-22 11:03] baseplate-admin commented on #339
I am afraid neither option is suitable for us :)

Our app size is around 45MB. Github doesn't allow .exe's . But dont worry i will find a way to give you the apps :D

[2022-08-24 10:05] baseplate-admin commented on #339
Hey @AKindWorld

does any of [these](https://github.com/kivymd/kivymd/#comparison-of-flutter--kivymd) interest you?

[2022-08-24 14:15] AKindWorld commented on #339
Hmmm, it's pretty good but the videos are extremely confusing... I have no idea which side is Flutter and which side is Kivy, and it seems like the comments say different things too.

Other than that, yeah, it seems to be good, ~~but I have a fear that Kivy's MD language won't be updated to [Google's M3 design language](https://m3.material.io/) anytime soon (which is a problem since the Material 3

[2022-08-24 14:30] baseplate-admin commented on #339
Thats honestly exactly what i wanted to hear. Its amazed me that a line by line interpreted language can compete with a AOT compiled langauge.

Kivy components can be styled like HTML+CSS

Yep sounds good.

Honestly we wouldnt find much contribution in Kivy App. Since its not mainstream.  But nonetheless i wanted to make something in Kivy for a long while. So lets see how it goes. We can change li

[2022-08-30 04:27] baseplate-admin opened #519 "Add Artificial Intelligence ( more like machine learning )"
ahh I'm so sorry for so much delay- I had a lot of work to do suddenly, so I didn't get much time for the past 2 days.

I tested it out a little bit - and it seems like for the backdrop, the first color is the best choice (or maybe I should say the darkest color).

If this is possible, then perhaps we can extract a light color for the foreground elements as well. But as for how much good they'd be

[2022-08-30 04:46] baseplate-admin commented on #519
I am writing https://github.com/baseplate-admin/Colorthief to speed up things :D

[2022-09-05 12:18] baseplate-admin commented on #519
So @AKindWorld ,

For no 1.

No it is not inefficient to get the values as you have said.

Yep we can do that

For no 2:

( Umm i donno what to say here | WELP )

For no 3 :

I like this idea of yours :D Lemme implement it :D

---

How should we implement this logic to switch? I mean what are we looking for that we will base the switch on?

---

Sorry for the break in between

^^

[2022-09-06 17:30] baseplate-admin opened #545 "[ `Migration` ] : Replace `requests` with `aiohttp` ?"
Our backend API calls are made using `python-requests`.

Should we switch to `aiohttp`?

My reasonings are :

* Requests is not async ( though we dont need async for our use case )
* Extra dependency ( `discord.py` includes `aiohttp`. So its already in our stack )
* I hate duplicate libraries that do the same thing.

Things that we should replace :

* Retry logic -> [`aiohttp-retry`](https://pypi.

[2022-09-07 03:35] baseplate-admin commented on #545
@AKindWorld

Any thoughts ?

Response from [this thread](https://discord.com/channels/459452478673649665/459781633466433537/1016909568988696678) suggests a complete rewrite of our tools :|

[2022-09-07 11:21] baseplate-admin commented on #545
Imma pass on this. Too much work and i am lazy.

If anyone wants to add this feature in future feel free to contact me :}

[2022-09-08 13:33] baseplate-admin opened #551 "[ `Backend` ] : Remove `svelte`"
So umm,

I was looking to make this site a multi page application.

Reasons :

1. Django template is pretty powerful
2. Djangos rest frameworks are not good/mature enough. Dont get me started on `drf` ( i hate `drf` )
3. Our site can actually emulate Single Page Application  with the help of [fireship.io](https://github.com/fireship-io/flamethrower)
4. Django's SPA toolkit is not upto date. I wish

[2022-09-12 13:25] baseplate-admin commented on #545
I will rework on this after my vacation.

[2022-09-12 14:38] baseplate-admin commented on #545
Currently we are doing proxy using AioHttp. If we need to upgrade in future. We can use [Robyn](https://github.com/sansyrox/robyn) built on actix.

[2022-09-23 11:38] #545 closed

[2022-09-23 18:49] #355 closed

[2022-09-24 10:36] baseplate-admin commented on #545
Finally the migration is complete 💪

[2022-09-24 10:44] baseplate-admin commented on #305
Hi people,👋

I am planning to code the Discord bot in the next few months.

What features are we looking for?

Over the top of my head some useful features should be :
1. Anime Lookup
2. Character Lookup
3. Staff ( People ) Lookup
4. Discord + Tracker profile lookup? ( we should allow users to customize this )
5. Playing `J-Pop`,`Anime OST` from `SoundCore` ( i haven’t coded this yet )

----

Some

[2022-09-30 17:15] #551 closed

[2022-10-12 01:30] baseplate-admin commented on #438
@AKindWorld i have addressed some issues in discord. Take a look.

[2022-10-12 07:14] baseplate-admin opened #610 "[ `Backend` ] : Migrate to fastapi"
Follow up on
* #31

Reasons :
1. Django's admin panel is not customizable. Unless i am willing to overwrite CSS.
2. Django's Architecture is shit ( Threaded request ? In 2022, seriously ? )
3. I dont want to deal with AioHttp and wonder into a loophole of micro service.
4. I like how starlette handles files

Tracking changes on
* [`backend`](https://github.com/baseplate-admin/CoreProject/tree/chan

[2022-10-18 02:14] #610 closed

[2022-10-21 14:29] baseplate-admin opened #643 "[ `Frontend` ] : Disable pull to refresh"
https://w3bits.com/prevent-chrome-pull-to-refresh-css/

[2022-10-23 12:22] #643 closed

[2022-11-05 04:58] FilipeMarch commented on #339
Hello!
e_e
I was searching about implementing webview in Kivy, it seems you've done it successfully?
btw I like your project, if I find some free time I may contribute to the kivy part

[2022-11-05 07:17] baseplate-admin commented on #339
Hi there,

Correct. The webview code is working as expected on android :D

This code is actually a copy from  [this repo](https://github.com/Android-for-Python/Webview-Example) and a custom buildozer config.

----

Thank you. The design is done mostly by @AKindWorld. Unfortunately due to my exams i am unavailable till December. But i have a [branch](https://github.com/baseplate-admin/CoreProject/t

[2022-11-05 10:42] baseplate-admin commented on #438
Hey @AKindWorld,

Do you think prototype 4 is ready?

Cause i will start working on that :D

[2022-11-14 13:21] baseplate-admin opened #778 "[`Enhancement`] : Redesign Ui"
The last Redesign occurred at
* #420

Now i think the new ui designed by @Akindworld looks fantastic.
I will start working on the UI. ( will probably take a while )

# Stack
### Backend
* django
* django-ninja

### Frontend
Option 1 :
* svelte
* tailwindcss
* sveltekit

Option 2 :  ( i have a [branch  ](https://github.com/baseplate-admin/CoreProject/tree/react-new-mantine))
* react
* nextjs
* mant

[2022-11-16 23:49] baseplate-admin commented on #778
https://github.com/mantinedev/mantine/discussions/1205